html, body {
    font-weight: 400;
    font-size: 15px;

    line-height: $line-height-base;

    color: $body-color;
    background: #fff;

    @include media-breakpoint-down(md) {
        font-size: 15px;
    }

}
