// Application

$smooth-gray-color: rgb(68, 68, 68);

//
// Bootstrap

$grid-breakpoints: (
    xs: 0,
    sm: 768px,
    md: 1025px,
    lg: 1200px,
    xl: 1440px
);

$font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$body-bg: #fff;
$body-color: #222;

$line-height-base: 1.5;

$small-font-size: 85%;
