<template>
	<div class="alert alert-danger" role="alert" v-if="validationErrors.length">
		<ul class="text-left mb-0">
			<li v-for="(value, key, index) in validationErrors">
				{{ value }}
			</li>
		</ul>
	</div>
</template>

<script>
    export default {
        props: {
            errors: {
                required: false,
                default() {
                    return {};
                }
            }
        },
        computed: {
            validationErrors() {
                let errors = Object.values(this.errors);
                errors = errors.flat();

                return errors;
            }
        }
    };
</script>
