.c-content-field-store-wrapper {
    position: relative;
    display: inline-block;
    border: 1px solid $yellow;

    &__key {
        position: absolute;
        display: none;
        z-index: 1000;
        top: -($font-size-base * 2);

        background-color: rgba(0, 0, 0, 0.75);
        color: $white;
        font-size: $small-font-size;
        font-family: monospace;
    }

    &:hover {
        .c-content-field-store-wrapper__key {
            display: block;
        }
    }

    &__value {
    }
}
