.c-phone-input {
    padding: 0 10px 0 37px;
    background: url(../images/icon-phone.png) no-repeat 10px 50%/16px 16px;
}

.c-feedback-form {
    .form-control {
        border: 1px solid rgb(218, 170, 22);
    }

    button {
        background: rgb(218, 170, 22);
        color: white;
    }

    input.js-feedback-form__phone-input[disabled] {
        background-color: rgb(236, 236, 236);
    }

    .js-feedback-form__submit[disabled] {
        background-color: rgb(175, 143, 76);
    }
}
