.c-service-panel-widget {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

    background: rgba(0, 0, 0, 0.65);
    font-size: $small-font-size;
    color: rgb(0, 0, 0);
    text-align: left;

    .c-service-panel-widget__block-wrapper {
        margin-right: 0.25rem;
    }

    .btn {
        padding: 0.25rem 0.75rem;
        font-size: 0.75rem;

        border-radius: 0;
    }

    .static-text {
        padding: 0.25rem 0.75rem;
        font-size: 0.75rem;
    }
}
