.specialization-icon--list-01, .specialization-icon--list-02, .specialization-icon--list-03, .specialization-icon--list-04, .specialization-icon--list-06,
.specialization-icon--list-07, .specialization-icon--list-08, .specialization-icon--list-09, .specialization-icon--list-11, .specialization-icon--list-12,
.specialization-icon--list-13, .specialization-icon--list-15, .specialization-icon--list-16, .specialization-icon--list-17, .specialization-icon--list-18,
.specialization-icon--list-05, .specialization-icon--list-10, .specialization-icon--list-19, .specialization-icon--list-14
{ display: inline-block; background: url('../images/specialization-icons-sprite-sheet.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.specialization-icon--list-01 { background-position: -4px -0px; width: 35px; height: 28px; }
.specialization-icon--list-02 { background-position: -4px -32px; width: 35px; height: 24px; }
.specialization-icon--list-03 { background-position: -4px -60px; width: 35px; height: 35px; }
.specialization-icon--list-04 { background-position: -4px -99px; width: 35px; height: 35px; }
.specialization-icon--list-06 { background-position: -4px -138px; width: 35px; height: 21px; }
.specialization-icon--list-07 { background-position: -4px -163px; width: 35px; height: 33px; }
.specialization-icon--list-08 { background-position: -4px -200px; width: 35px; height: 26px; }
.specialization-icon--list-09 { background-position: -4px -230px; width: 35px; height: 12px; }
.specialization-icon--list-11 { background-position: -4px -246px; width: 35px; height: 33px; }
.specialization-icon--list-12 { background-position: -4px -283px; width: 35px; height: 34px; }
.specialization-icon--list-13 { background-position: -4px -321px; width: 35px; height: 29px; }
.specialization-icon--list-15 { background-position: -4px -354px; width: 35px; height: 22px; }
.specialization-icon--list-16 { background-position: -4px -380px; width: 35px; height: 29px; }
.specialization-icon--list-17 { background-position: -4px -413px; width: 35px; height: 33px; }
.specialization-icon--list-18 { background-position: -4px -450px; width: 35px; height: 33px; }
.specialization-icon--list-05 { background-position: -4px -487px; width: 25px; height: 35px; }
.specialization-icon--list-10 { background-position: -4px -526px; width: 25px; height: 35px; }
.specialization-icon--list-19 { background-position: -4px -565px; width: 23px; height: 35px; }
.specialization-icon--list-14 { background-position: -4px -604px; width: 19px; height: 35px; }
