// Виджет со старого сайта

.connect {
    position: fixed;
    bottom: 70px;
    //right: 15px;
    left: 15px;
    z-index: 99999999;
}

.connect__button {
    border: 0;
    background: transparent;
    display: flex;
    position: relative;
    padding: 0;
}

.connect__button-text {
    max-width: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    width: 280px;
    height: 52px;
    background-color: #fed117;
    box-shadow: 0px 6px 5.4px 0.6px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.4;
    letter-spacing: 0.3px;
    color: #282828;
    text-align: left;
    transition: all 0.2s ease-out 0.2s;
}

.connect__button-icon {
    width: 52px;
    height: 52px;
    background-image: linear-gradient(to right, #13131d, #333645);
    position: relative;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 5px 6.4px 0.6px rgba(0, 0, 0, 0.2);
}

.connect__button-icon:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 5px 6.4px 0.6px rgba(0, 0, 0, 0.2), inset 0 0 15.5px 2.5px rgba(254, 209, 23, 0.6);
    border: solid 2px #fed117;
}

.connect__button-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url("../images/global_sprite.png") no-repeat;
    width: 22px;
    height: 20px;
    background-position: -533px -373px;
}

.connect__button.x-active .connect__button-text {
    max-width: 1000px;
    padding: 0 52px 0 25px;
    transition: all 0.2s ease-out;
}

ul.connect__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.connect__list {
    max-height: 0;
    position: absolute;
    z-index: -1;
    right: 15px;
    bottom: 0;
    padding: 0;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.2s ease-out;
}

.connect__list:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: calc(100% - 44px);
    background-color: #ffffff;
    z-index: 10;
    box-shadow: 15px 0px 30px 15px rgba(255, 255, 255, 0.95);
}

.connect__list:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: calc(100% - 44px);
    background-color: #ffffff;
    z-index: 10;
    box-shadow: -15px 0px 30px 15px rgba(255, 255, 255, 0.95);
}

.connect__button.x-active + .connect__list {
    max-height: 1000px;
    padding: 0 0 67px 0;
    box-shadow: 0px 3px 5.7px 0.3px rgba(0, 0, 0, 0.17);
    transition: all 0.2s ease-out 0.2s;
}

.connect__title {
    background-color: #feecbd;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 0.3px;
    color: #282828;
    position: relative;
    z-index: 100;
}

.connect__item {
    position: relative;
}

.connect__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #bbbbbb;
}

.connect__item-link {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: 0.7px;
    color: #626262;
    display: block;
}


@include media-breakpoint-down(md){
    @-webkit-keyframes connect-circle {
        0% {
            -webkit-transform: translate(-50%,-50%) scale(0);
            transform: translate(-50%,-50%) scale(0);
            opacity: 1;
        }
        20% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 0;
        }
    }
    @-o-keyframes connect-circle {
        0% {
            -webkit-transform: translate(-50%,-50%) scale(0);
            transform: translate(-50%,-50%) scale(0);
            opacity: 1;
        }
        20% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 0;
        }
    }
    @-ms-keyframes connect-circle {
        0% {
            -webkit-transform: translate(-50%,-50%) scale(0);
            transform: translate(-50%,-50%) scale(0);
            opacity: 1;
        }
        20% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 0;
        }
    }
    @keyframes connect-circle {
        0% {
            -webkit-transform: translate(-50%,-50%) scale(0);
            transform: translate(-50%,-50%) scale(0);
            opacity: 1;
        }
        20% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
            opacity: 0;
        }
    }
    .connect {
        bottom: 40px;
        right: 40px;
    }
    .connect__button-icon:before {
        -ms-animation: connect-circle 5s ease-out infinite;
        -webkit-animation: connect-circle 5s ease-out infinite;
        animation: connect-circle 5s ease-out infinite;
    }
    .connect__button.x-active .connect__button-icon:before {
        -ms-animation: none;
        -webkit-animation: none;
        animation: none;
    }
}

@include media-breakpoint-up(md){
    .connect {
        right: auto;
        left: 0px;
        bottom: 40px;
        z-index: 99999999999;
    }
    .connect__button-text {
        right: auto;
        left: 0;
        text-align: center;
        max-width: 1000px;
        padding: 0 25px;
        position: relative;
        width: 263px;
    }
    .connect__button-icon {
        display: none;
    }
    .connect__list {
        max-height: 52px;
        left: 0;
        border-radius: 25px;
        height: 52px;
        width: calc(100% + 70px);
        max-width: calc(100% + 70px);
        background-color: rgba(0, 0, 0, 0.4);
        overflow: visible;
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        align-items: center;
    }
    .connect__list:before,
    .connect__list:after,
    .connect__item:after {
        content: none;
    }
    .connect__title {
        display: none;
    }
    .connect__item {
        margin-left: 40px;
    }
    .connect__item:nth-child(n+3) .connect__item-link {
        box-shadow: none;
    }
    .connect__item:nth-child(n+3) .connect__item-link:before {
        -webkit-transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    .connect__item-link {
        font-size: 0;
        width: 52px;
        height: 52px;
        background-image: linear-gradient(to right, #13131d, #333645);
        position: relative;
        border-radius: 50%;
        display: block;
        box-shadow: 0px 5px 6.4px 0.6px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-out;
    }
    .connect__item:hover .connect__item-link {
        width: 60px;
        height: 60px;
        transition: all 0.2s ease-out;
    }
    .connect__item-link:before {
        content: '';
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 75px;
        height: 75px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 0px 5px 6.4px 0.6px rgba(0, 0, 0, 0.2), inset 0 0 15.5px 2.5px rgba(254, 209, 23, 0.6);
        border: solid 2px #fed117;
    }
    .connect__item:nth-child(2) .connect__item-link:before {
        -webkit-animation: connect-circle 5s ease-out infinite;
        animation: connect-circle 5s ease-out infinite;
    }
    .connect__item-link:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: url("../images/global_sprite.png") no-repeat;
    }
    .connect__item:nth-child(2) .connect__item-link:after {
        background-position: -533px -373px;
        width: 22px;
        height: 20px;
    }
    .connect__item:nth-child(3) .connect__item-link:after {
        background-position: -478px -426px;
        width: 19px;
        height: 11px;
    }
    .connect__item:nth-child(4) .connect__item-link:after {
        width: 17px;
        height: 14px;
        background-position: -441px -426px;
    }
    .connect__item:nth-child(5) .connect__item-link:after {
        width: 23px;
        height: 23px;
        background-position: -441px -383px;
    }
    .connect__item:nth-child(2):hover .connect__item-link:after {
        background-position: -487px -336px;
        width: 26px;
        height: 24px;
    }
    .connect__item:nth-child(3):hover .connect__item-link:after {
        width: 29px;
        height: 17px;
        background-position: -533px -337px;
    }
    .connect__item:nth-child(4):hover .connect__item-link:after {
        width: 24px;
        height: 22px;
        background-position: -484px -383px;
    }
    .connect__item:nth-child(5):hover .connect__item-link:after {
        width: 26px;
        height: 26px;
        background-position: -441px -337px;
    }
    .connect:hover .connect__list {
        -webkit-transform: translateX(210px);
        transform: translateX(210px);
        width: calc(100% + 140px);
        max-width: calc(100% + 140px);
    }
    .connect:hover .connect__item:nth-child(n+3) .connect__item-link:before {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    .connect:hover .connect__item:nth-child(n+3) .connect__item-link {
        box-shadow: 0 5px 6.4px 0.6px rgba(0, 0, 0, 0.2);
    }
    .connect:hover .connect__item:nth-child(2) .connect__item-link:before {
        -webkit-animation: none;
        animation: none;
    }
}

@include media-breakpoint-up(lg) {
    .ws-chat .ws-chat-btn-container {
        opacity: 0;
    }
}
