.cases-slider .owl-dot.active {
    background: #444444;
}

.c-spinner {
    padding-top: 1rem;
    padding-bottom: 1rem;

    text-align: center;
}

.c-spinner__image {
}

.c-lazy-content-container {
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.specialization__header {
    margin-bottom: 0;
}

.c-footer-specialization .specialization__header {
    margin-bottom: 80px;
}

.promo-box-dots {
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.promo-slider {
    margin-bottom: 1.5rem;

    p {
        text-shadow: 1px 1px 0 rgb(255, 255, 255);
    }

    &__sidebar {
        @include media-breakpoint-down(xs) {
            .help-box__phone {
                color: rgb(240, 240, 240);
            }
        }
    }
}

.promo-box {
    .promo-box__slide {
        padding-bottom: 0;
    }

    .promo-box__slide.slide-1:after {
        position: absolute;
        left: 0;
        bottom: -1rem;
        width: 100%;
        content: '';
        height: 25%;
        background: url(../images/bg-wave01.svg) no-repeat 50% 50%/cover;
        pointer-events: none;
    }

    @include media-breakpoint-up(sm) {
        .promo-box__video-holder {
            height: 334px;
            position: relative;
        }

        .promo-box__video-poster-image-wrapper {
            width: 590px;
            height: 590px;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    &__text-wrapper {
        margin: -1rem;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 1rem;
        color: #333;
    }

    &__author a {
        border-bottom: 1px dotted #333;
        color: #333;
    }

    &__video-title {
        @include media-breakpoint-up(sm) {
            text-shadow: 1px 1px 0 #00000096;
        }
    }

    p {
        margin: 0 0 1rem;
    }
}

.guarantee-section {
    padding: 2rem 0 4rem;
}

.spec-section {
    padding: 85px 0 4rem;
}

.services {
    padding: 90px 0 2rem;
}

.price-tables {
    padding: 8rem 0 3rem;
}

.price-tables__note {
    margin-top: 0;
}

.price-tables__header h2 .bordered-line:before {
    bottom: 0.25rem;
    z-index: -100;
}

.helper:after {
    z-index: 1000;
}

.price-item__sub-title {
    line-height: 1;
}

.how-it-works {
    padding: 120px 0 4rem;
}

.contacts-section {
    padding: 4rem 0 6rem;
}

.consultation-info {
    padding: 2rem 0;
}

.fixed-bar {
    z-index: 2000;
}

.case-item dl {
    padding: 0;
}

.case-item {
    &__attachments {
        word-break: break-all;
    }

    &__image-preview {
        width: 100%;
        border-radius: 0.25rem;
    }
}

.tele-item__title {
    height: auto;
}

.position_blocks {
    padding-top: 3rem;
}

.position_block_right_desc:last-child {
    margin-bottom: 0;
}

.position-section {
    padding: 3rem 0 3rem;
}

.position_title {
    font-size: 2rem;
}

.position_subtitle {
    font-size: 2rem;
}

.info-list__slide p {
    font-weight: normal;
    margin: 0 0 1rem;
    line-height: 1.5;
}

.tick-list li {
    line-height: 1.5;
}

.text-size {
    padding: 6px 0 6px 6px;

    &__button-container {
        display: flex;
    }
}

.deadlines {
    padding: 60px 0 5rem;
}

.our-clients {
    padding: 5rem 0 0;
}

.team {
    padding: 3rem 0 0;
}

.sertificates {
    padding: 3rem 0 7rem;
}

.mass-section {
    padding: 2rem 0 4rem;
}

.reviews-section {
    padding: 2rem 0 4rem;
}

.reviews-section:before {
    top: -41px;
    height: 49px;
}

input[type=text].parsley-error {
    border: 1px solid #f00 !important;
}

.parsley-error {
    &.data-check label {
        color: #f00;
    }
}

@media all and (max-width: 767px) {
    .promo-slider {
        padding-top: 7rem;
    }

    .promo-slider h1 {
        line-height: 1.4;
    }

    .promo-slider__content {
        padding-bottom: 4rem;;
    }
}

.risks__content-frame {
    @include media-breakpoint-down(md) {
        font-family: "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1.2rem;
        font-weight: 300;
    }

    blockquote {
        margin: 0px 0px 0.5rem 1rem;
        padding: 1rem 1rem;
        display: block;
        border-left: 2px solid rgb(238, 238, 238);
    }
}

.risks__content-frame[data-size="small"] {
    h3 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    ul li {
        font-size: 14px;
        line-height: 22px;
        padding-left: 20px;
    }

    ul li:before {
        width: 5px;
        height: 5px;
        top: 8px;
    }

    blockquote q {
        font-size: 18px;
        line-height: 26px;
    }
}

.risks__content-frame[data-size="big"] {
    h3 {
        font-size: 35px;
    }

    p {
        font-size: 24px;
        line-height: 30px;
    }

    ul li {
        font-size: 24px;
        line-height: 30px;
        padding-left: 20px;
    }

    ul li:before {
        width: 5px;
        height: 5px;
        top: 8px;
    }

    blockquote q {
        font-size: 26px;
        line-height: 26px;
    }
}

.c-mass-media-modal {
    .mass-section {
        padding: 0;
    }

    .slider-wrap {
        width: auto;
    }
}

@include media-breakpoint-down(sm) {
    .help-box {
        padding-top: 0;
    }
}

.help-box__phone-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

    z-index: 1000;
    position: relative;
}

.help-box__phone-text {
    flex: none;
}

.guarantee-section--main-page {
    .guarantee-section__video-poster img {
        width: auto;
        height: 100%;
        float: right;
    }
}

.c-blog-post {
    &__row {
        display: flex;
    }

    &__content {
        img {
            max-width: 100%;
        }
    }
}

.c-blog-post-heading__item {
    margin-bottom: 1rem;
}

.c-service-navigation-item__sub-list {
    padding-left: 1rem;
}

.top-nav-drop--services {
    .first-level {
        column-count: 5;
        column-width: 305px;
    }

    .drop-list.drop-list_two {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .drop-list li {
        flex-basis: 50%;

         position: relative;
         vertical-align: top;
         display: block;
         width: auto;
    }

    .collapse:not(.show) li {
        display: none;
    }
}

.mobile-nav-wrap {
    @include media-breakpoint-up(sm) {
        .main-nav-opener {
            display: none;
        }

        &.active {
            .main-nav-opener {
                display: block;
            }
        }
    }
}

@include media-breakpoint-up('md') {
    .helper-green .about-person__girl {
        right: -10px;
        bottom: -231px;
    }
}

.modal-window_small {
    width: 454px;
}

.thank_form {
    padding: 1rem;
}

.priem_block_img {
    @include media-breakpoint-up('md') {
        text-align: center;
    }
}

.services__content {
    .info-list__slide-holder {
        text-align: justify;

        ul li {
            margin-bottom: 0.5rem;
        }
    }
}

.c-top-navigation-bar {
    &__item:not(:last-child) {
        margin-right: 0.75rem;
    }
}

.c-link-list {
    margin: 0;

    .list-group-item {
        padding: 0.5rem;
    }

    a {
        color: $smooth-gray-color;
        @extend %pretty-link;
    }

    a:hover {
        color: $smooth-gray-color;
        @extend %pretty-link-hover;
    }
}

@include media-breakpoint-up('xl') {
    .about:before {
        //background: none;
    }
}

.pretty-links-decorator {
    a {
        color: $smooth-gray-color;
        @extend %pretty-link;

        transition: color ease-in-out;
    }

    a:hover {
        color: $black;
        @extend %pretty-link-hover;
    }

    a:visited {
        color: lighten($smooth-gray-color, 30%);
    }
}

.drop-shadow--light {
    text-shadow: 1px 1px 0 #fff;
}

.drop-shadow--dark {
    text-shadow: 1px 1px 0 #464646;

    &.drop-shadow--dark--only-desktop {
        @include media-breakpoint-down(md) {
            text-shadow: none;
        }
    }
}

.c-likbez-block {
    &__navigation .active a {
        color: $black;
    }

    .likbez-content,
    .tab-content {
        margin-bottom: 2rem;
    }

    .likbez-content {
        font-family: Roboto, "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5;
    }
}

.c-tatiana-chunk {
    @include media-breakpoint-down(sm) {
        .submit {
            margin-top: 0;
        }
    }
}

@include media-breakpoint-down(md) {
    .main-contacts__email,
    .social-label,
    .social-list {
        text-align: left;
    }

    .fixed-bar-form {
        margin-left: 64px;
    }
}

@media (max-width: 1024px) and (min-width: 767px){
    .promo-box {
        padding-top: 183px;
    }
}

.c-mobile-jumbotron {
    padding: 2rem 0;
    text-align: center;

    @include media-breakpoint-down(md) {
        padding-top: 2.5rem;
    }

    &__content {
        h1 {
            font-size: 40px;
            line-height: 45px;
            color: rgb(68, 68, 68);
            margin: 0 0 3rem;
            font-weight: 700;
        }
    }
}
